[submodule "bash/.bash-plugins/fzf-tab-completion"]
	path = bash/.bash-plugins/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
